*{
    padding: 0;
    margin: 0;
}
main{
    border: 2px solid grey;
    padding: 10px;
    width: 50%;
    margin: auto;
}
header{
    border: 2px solid grey;
    padding: 15px;
    
}

header h1{
    font-size: 25px;
}

nav{
    border: 1px solid grey;
    background-color: lightgray;
    padding: 2px;
   
    
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr  ;
}

nav ul li{
    display: inline;
}

nav #kezdolap{
    border: 1px solid grey;
    background-color: red;
    padding: 10px;
    margin-left: 0%;
    color: white;
}

nav a{
    text-decoration: none;
}

nav .masikgombok{
   border: 1px solid grey;
   padding: 5px;
}

nav #akezdo{
    color: white;
}

nav .atobbi{
    color: red;

}
img{
    width: 100%;
}

article{
    
}

section #fokep{
    border: 1px solid;
    padding: 3px;
}

 #galeriagrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
   
}

section {
 padding: 2px;
 border: 2px solid grey;
}

section div{
    padding: 2px;
    border: 1px solid grey;
}

@media screen {
    
}

h2{
    padding-bottom:10px;
    padding-top: 10px;
}